@model IEnumerable<CajeroAutomatico.Entities.Entities.EstadoDispensador>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table  table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.desEstDispensador)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.desEstDispensador)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.estadoDispensadorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.estadoDispensadorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.estadoDispensadorId })
        </td>
    </tr>
}

</table>
